/*
@media screen and (width: 414px){
.buy{
    padding:0px;
}


  figure {
  height: 5em;
}
.nav li, a{
     font-size: 0.89em;
 }

 .price{
  font-size: 1.5em;
  margin: 0em 0em 0em 0em;
  position: relative;
  padding: 0;
 }

  .buy .parrafo{
  text-align: justify;
  display: block;
  margin: 0.5em;
  font-size: 1.2em;
  padding: 0;
 }

 .btn_buy{
  margin-right: 0; 
  margin-left: 2.5em;
  font-size: 3em;
 }

}

@media screen and (width: 1024px){
  figure {
  height: 15em;
}

.price{
  font-size: 2em;
  margin: 0em 0em 0em 0em;
  position: relative;
  padding: 0;
 }
}


@media screen and (width: 375px){
  figure {
  height: 4.65em;
}
.nav li, a{
     font-size: 0.89em;
 }
 .buy .parrafo{
  text-align: justify;
  display: block;
  margin: 0.5em;
  font-size: 1.2em;
  padding: 0;
 }

 .btn_buy{
  margin-right: 0; 
  margin-left: 2.5em;
  font-size: 3em;
 }

}

@media screen and (width: 411px){
  figure {
  height: 5em;
}
.nav li, a{
     font-size: 0.90em;
 }

 .buy .parrafo{
  text-align: justify;
  display: block;
  margin: 0.5em;
  font-size: 1.2em;
  padding: 0;
 }

 .btn_buy{
  margin-right: 0; 
  margin-left: 2.5em;
  font-size: 3em;
 }
}

@media screen and (width: 540px){
  figure {
  height: 7.88em;
}
.nav li, a{
     font-size: 1.1em;
 }

  .price{
  font-size: 1.5em;
  margin: 0em 0em 0em 0em;
  position: relative;
  padding: 0;
 }

  .buy .parrafo{
  text-align: justify;
  display: block;
  margin: 0.5em;
  font-size: 1.2em;
  padding: 0;
 }

 .btn_buy{
  margin-right: 0; 
  margin-left: 2.5em;
  font-size: 3em;
 }
}


@media screen and (max-width: 900px){

 figure {
  height: 2.5em;
}

.buy .parrafo{
  text-align: justify;
  display: block;
  margin: 0.5em;
  font-size: 1.2em;
  padding: 0;
 }

 .btn_buy{
  margin-right: 0; 
  margin-left: 1.25em;
  font-size: 3em;
 }
}

@media screen and (min-width: 800px) {
  .nav li, a{
     font-size: 0.85em;
 }

}

*/

@media screen and (min-width: 1025px) {
    .slider h1{
        font-size: 30px;
    }
}

@media screen and (max-width: 500px){
    
    .buy .parrafo{
        font-size: 12px;
    }
    .title_buy{
        font-size:20px;
    }
    .fondo{
        display: none;
    }
    
  .contenedor-footer{
    flex-direction: column;
  }
  .content-foo{
    margin-bottom: 20px;
    text-align: center;
  }
  .content-foo h4{
    border: none;
  }
  .content-foo p{
    color: #ccc;
    border-bottom: 1px solid #e25959;
    padding-bottom: 20px;
  }
  .titulo-final{
    font-size: 20px;
  }


}
/*

figure img,figure{
   margin: 0;
   padding: 0;
   width: auto;
   text-align: center;
   height: auto;
  float: left;
}

.icon{
  margin: 0 1em;
  padding: 0;
  float: right;
  display: block;
 }
 

 .btn_buy{
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  font-size: 2.5em;
 }
 .price{
  font-size: 1.5em;
  margin: 0em 5em 0em 5em;
  padding: 0;
 }
 figure .img_buy, .buy figure{
   margin: 5px ;
   padding: 0;
   margin-top: 0.25em;
 }

figure .img_buy{
  width: 12em;
  height: 12em;
}
 figure .img_buy, .buy figure{
  border-radius: 20px;
  }

.buy figure {
  height: auto;
  width: auto;
  display: block;
}

.buy .parrafo{
  text-align: justify;
  display: block;
  margin: 0.5em;
  font-size: 1em;
  padding: 0;
 }

  .icon_buy{
    width: 1em;
    height: 1em;
  }
   .btn_buy{
  margin: 0;
  padding: 0.15em;
  height: 1.5em;
  width: 1.5em;
  margin-right: 0; 
  margin-left: 3.9em;
  font-size: 3em;
  border-radius: 20px;
 }

*/